<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>CONSENT FORM</title>
	<style type="text/css">
		*{
			background-color: blanchedalmond;
		}
	</style>
</head>
<body>

	<h1 style=" text-align: center;
	font-family: arial;"> Fill the details given below in consent form</h1>
	<div style=" max-width: 800px;
	margin: 50px auto 50px ;">

	<p style=" max-width: 800px;
	padding: 40px auto 20px; font-size: 20px;
	letter-spacing: 1px;
	font-family: sans-serif;
	line-height: 55px;">I, <input type="text" name="consent" required ><br>am owner of the permises at the following address<br><input type="text" name="address" maxlength="50" required> The said permises is given on rent to<br><input type="text" name="consent"> ,s/o <input type="text" name="">  The said permises has been given on rent to him/her,since <input type="text" name="date">  and he/she is currently staying at there to the best of my knowledge.</p>
<h1>NAME:</h1>
<input type="text" name="name" placeholder="Enter name" required="text" required />
<h1>PHONE NUMBER:</h1>
<input type="number" name="phone number" placeholder="Enter Phone number" required="NUMBER" maxlength="10" required />
<br>
<br> 
 <a href="{{url_for('upload_file')}}"  style=" margin-top: 50px;
 border: 3px solid royalblue;
 background-color:azure;"> Submit </a>
	<br>
	<p style=" font-size: 25px;"> I understant that he/her is applying for updating his/her aadhaar with address of the said permises.I hereby coney by no objection for the same</p>
    
</div>
</body>
</html>