<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body style="max-width: 800px;
margin: 40px auto 20px;">
<div style="margin-top: 200px;
margin-left: 200px;">
    <h2>Name</h2>
	<input type="text" name="nameField" id="name" placeholder="Rental name" 
	 required />
	<br>
	<input style=" margin-top: 50px; " type="text" name="nameField" id="name" placeholder="Landlord name" required/>
	<h2>Phone Number</h2>
	<input type="Number" name="nameField" id="name" placeholder="landlord ph no" maxlength="10" required />
	<br>
	
<div style="display: inline-block;
border: blueviolet;
margin-top: 50px;">
	<a href="indexhack2.html" style="font-size: 30px;
	background-color: blueviolet; 
	color: black;
	size: 100px;">SUBMIT</a>
       
</div>
</div>
</body>